#box{width:1280px;margin:0 auto;}
#box .di{width:1180px;display:flex;justify-content:space-between;margin: 0 auto;flex-wrap:wrap}
#box  a{display:block;width:282px;height:358px;float:left;margin-top:20px;border:0;cursor: pointer;border:1px solid #a6a6a6;}
#box  a img{display:block;width:280px;height:268px;}
#box  a p{width:282px;text-align:center;display:block;font:16px/30px"";}